.navWrap {
    width: 100%;
    height: auto;
    text-align: center;
}

.btn {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 30vh;
    width: 125px;
    height: 62.5px;
}
.btn:hover {
    cursor: pointer;
}